
.container {
  /* background-color: antiquewhite; */
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5%;
  flex-direction: row;
  display: flex;
  height: 400px;
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  border: 5px solid black; 
  border-radius: 10px;   
}

.button {
  background-color: rgb(13, 110, 253);
  border: none;
  color: white;
  padding: 15px 27px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 20px 2px;
  cursor: pointer;
  border-radius: 5px;
}

body{
  background-color: antiquewhite;
}

.text{
  text-align: center;

}

.text h1{
  margin-top: -80px;
  margin-bottom: 30px;
  font-style: italic;
  text-decoration: underline;
}

.gameimg {
  max-width: 300px;
  max-height:400px;
  margin-left: 20px;
  margin-right: auto;
  border-radius: 5px;
  border: 2px solid black;
}

.text {
  font-size: 20px;
  padding-left: 20px;
}

/*  */
/* SLIDING carausal */

/* .slider {
  height: 300px;
  display: grid;
  place-items: center;
} */

.slider {
width: 1100px;
height: 400px;
position: relative;
overflow: hidden;
border-radius: 15px;
align-items: center;
margin-top: 50px;
margin-bottom: 50px;
margin-left: auto;
margin-right: auto;
}

.slide {
width: 100%;
height: 100%;
position: absolute;
transition: all 0.5s;
}

.slide img {
width: 100%;
height: 100%;
object-fit: cover;
}

.btn {
position: absolute;
width: 40px;
height: 40px;
padding: 10px;
border: none;
border-radius: 50%;
z-index: 10px;
cursor: pointer;
background-color: lightgrey;
font-size: 18px;
}

.btn:active {
transform: scale(1.1);
}

.btn-prev {
top: 45%;
left: 15px;
}

.btn-next {
top: 45%;
right: 15px;
}

/* ============================== */
 